*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white; 
}

.container{
  width:1100px;
  
}

input, textarea{
  border:1px solid orange;
  margin-bottom: 20px;
  border-radius:5px;
  padding:5px 0px;
}
input[type='text'].error, input[type='email'].error, input[type='textarea'].error{
  border-color:  red; 
}

input[type='text']:valid, input[type="email"]:valid, input[type='textarea']:valid{
  border-color:  green; 
}


form{
  display: flex;
  flex-direction: column; 
  width: 300px;
  margin:0 auto; 
}


.error-message{
  color:red;
  display:none; 
  position: relative; 
  top:-20px; 
}

.error-message.show{
  display:block; 
}



.btn{
  padding: 10px 70px; 
  border-radius: 10px
}

